@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  /* este es para un diseño personalizado para el scroll de la pagina  */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #060f18;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #AAFF00, #6aff00);
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #AAFF00;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */